<header>
  <nav class="flex">
    <% if (user) { %>
    <section id="site-links" class="flex">
      <a href="/">
        <img src="/imgs/younity_logo.jpg" alt="YOUnity Logo" id="logo">
      </a>
      <section class="dropdown">
        <button>Communities</button>
        <section class="dropdown-choices">
          <form action="/c/anime">
            <button>Anime</button>
          </form>
          <form action="/c/books">
            <button>Books</button>
          </form>
          <form action="/c/food">
            <button>Food</button>
          </form>
        </section>
      </section>
    </section>

    <section>
      <a href="/user/profile">PROFILE</a>
      <a href="/logout">LOG OUT</a>
    </section>
    <% } else { %>
    <section>
      <a href="/auth/google">LOG IN</a>
    </section>
    <% } %>
  </nav>
</header>