<header>
  <nav>
    <h1>Forum Site</h1>
    <select name="communities">
      <option value="anime">Anime</option> <!-- add anchor tag -->
      <option value="books">Books</option>
      <option value="food">Food</option>
    </select>
    <p>User Profile</p>
  </nav>
</header>