<header>
  <nav class="flex">
    <% if (user) { %>
    <div>
      <a href="/">
        <img src="/imgs/younity_logo.jpg" alt="YOUnity Logo" id="logo">
      </a>
      <div class="dropdown">
        <button>Communities</button>
        <div class="dropdown-choices">
          <a href="/c/anime">Anime</a>
          <a href="/c/books">Books</a>
          <a href="/c/food">Food</a>
        </div>
      </div>
    </div>

    <div>
      <a href="/user/profile">PROFILE</a>
      <a href="/logout">LOG OUT</a>
    </div>
    <% } else { %>
    <div>
      <a href="/auth/google">LOG IN</a>
    </div>
    <% } %>
  </nav>
</header>