<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h2>404</h2>
    <h3>Whoa! The page you requested doesn't exist!</h3>
    <%- include('./partials/footer') %>
</body>
</html>