<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <h2>List All Posts</h2>
    <h2>I am making a change on my own branch.</h2>
  </main>
  <%- include('./partials/footer') %>

</body>

</html>